/*BACKGROUND___________________________________________________________________________ */
body{
    margin: 0;
    padding: 0;
    background-color: #0b0b0b;
    list-style: none;
    text-decoration: none;
}

/*HEADER______________________________________________________________________________ */

header{
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul{
    display: flex;
}

a{
    text-decoration: none;
}

li{
    margin-right: 20px;
    list-style: none;
    color: #939393;
    cursor: pointer;
    font-size: 1rem;
    transition: .5s;
    font-family: 'Inter', sans-serif;
}

li:hover{
    color: #fff;
}

.logo-img{
    width: 60px;
    display: flex;
    margin-top: 10px;
    height: auto;
    cursor: pointer;
    margin-left: 40px;
}

.logo-img:hover{
    content: url(img/logo-neon.png);
    width: 60px;
}

hr{
    position: absolute;
    align-self: flex-end;
    width: 75%;
    border: none;
    height: 0.2px;
    background-color: rgba(151, 151, 151, 0.55);
}
/*PROFILE______________________________________________________________________________ */

.profile {
    padding-top: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#circle, #eu, #circle2{
    width: 500px;
    position: absolute;
}

#eu{
    width: 250px;
}

#circle{
    height: 430px;
}

#circle2{
    width: 550px;
    opacity: 0.4;
}

/*GIRAR_____________________________________________________________________________________*/

@keyframes girar {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#circle, #circle2{
    animation: girar 3s linear infinite;
}

/*APRESENTAÇÃO_________________________________________________________________________________*/

#hello, #cargo, #resumo{
    padding-top: 130px;
    text-align: center;
    color: #b1b1b1;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
}

#cargo{
    padding-top: 0px;
    font-size: 35px;
    color: #fff;
}

#resumo{
    width: 70%;
    padding-top: 0px;
    text-align: justify;
    padding-left: 15%;
}

/*TABELAS______________________________________________________________________*/

#tabela{
    display: flex;
    justify-content: center;
    align-items: center;
}

th {
    width: 400px;
    background-color: #D9D9D908;
    color: #fff;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
}

td{
    background-color: #00000065;
    color: #cccccc;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
}

#hardskill{
    padding-right: 100px;
}

/*PROJETOS____________________________________________________________________*/

#seta{
    position: absolute;
    margin-top: 100px;
    margin-left: 15%;
    width: 22%;
    transform: rotate(-122.177deg);
}

#portfolio-box{
    margin-top: 13%;
    display: flex;
}

#texto{
    display: flex;
    width: 15%;
    height: 80%;
    margin-left: 15%;
}

#titulo{
    margin-top: 130px;
    text-align: left;
    color: #FFF;
    font-size: 120px;
    font-family: 'Big Shoulders Display', sans-serif;

}

#descricao{
    text-align: justify;
    color: #b1b1b1;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
}

#projetos-box{
    margin-top: 120px;
    margin-left: 40px;
}

#doom-banner, #doom-logo, #gta-banner, #gta-logo{
    display: flex;
    position: absolute;
}

#doom-banner, #gta-banner{
    width: 24%;
    flex-shrink: 0;
    border-radius: 17px;
    opacity: 50%;
    transition: 0.5s;
    cursor: pointer;
    box-shadow: 0px 4px 13px 10px rgba(0, 0, 0, 0.55);
}

#gta-banner{
    margin-left: 27%;
}

#doom-logo, #gta-logo{
    width: 10%;
    margin-left: 7%;
    margin-top: 29%;
    transition: 0.5s;
    cursor: pointer;
}

#gta-logo{
    width: 8%;
    margin-left: 36%;
}

#doom-banner:hover {
    transform: scale(1.02);
    opacity: 100%;
}

#gta-banner:hover {
    transform: scale(1.02);
    opacity: 100%;
}

/*FOOTER______________________________________________________________________*/

footer{
    height: 300px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: #cccccc;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
}

#logo-footer{
    width: 80px;
    cursor: pointer;
}

#logo-footer:hover{
    content: url(img/logo-neon.png);
}

.footer-navigation{
    display: none;
}

.footer-list{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*RESPONSIVO______________________________________________________________________*/

@media(max-width: 768px){
    .footer-navigation{
        display: block;
    }

}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px){

    .logo-img{
        margin-right: 400px;
    }

    hr{
        width: 75%
    }

}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {

    .logo-img{
        margin-right: 200px;
    }

    hr{
        width: 75%
    }    

}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
    
    .logo-img{
        margin-right: 200px;
    }

    hr{
        width: 80%
    }

 }

 @media (min-width: 576px) and (max-width: 767.98px) { 

    .profile{
        padding-top: 220px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #circle, #eu, #circle2{
        width: 500px;
        position: absolute;
    }
    
    #eu{
        width: 250px;
    }
    
    #circle{
        height: 430px;
    }
    
    #circle2{
        width: 550px;
        opacity: 0.4;
    }
    
}

@media (min-width: 561px) and (max-width: 575px) { 

    .profile{
        padding-top: 220px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #circle, #eu, #circle2{
        width: 400px;
        position: absolute;
    }
    
    #eu{
        width: 200px;
    }
    
    #circle{
        height: 300px;
    }
    
    #circle2{
        width: 450px;
        opacity: 0.4;
    }

}